In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randn(10, 4))

In [3]:
df

          0         1         2         3
0  0.600252  1.757033 -0.600128  0.668270
1 -0.120260  0.039454 -0.045170 -0.260684
2  2.021722  0.613360 -0.762104 -0.446931
3  1.249322 -0.667442 -0.926049 -0.158817
4 -0.243913  0.775680  0.099444 -1.517676
5  0.146429 -1.564102  0.089328 -0.968998
6 -0.125686 -0.230621 -0.089866  1.584494
7 -0.977752  0.273222  1.306980  0.470627
8 -0.300902 -0.760537  2.020481 -0.401926
9  0.815948 -1.614900  0.173578 -1.348261

In [4]:
pieces = [df[:3], df[3:7], df[7:]]

In [5]:
pd.concat(pieces)

          0         1         2         3
0  0.600252  1.757033 -0.600128  0.668270
1 -0.120260  0.039454 -0.045170 -0.260684
2  2.021722  0.613360 -0.762104 -0.446931
3  1.249322 -0.667442 -0.926049 -0.158817
4 -0.243913  0.775680  0.099444 -1.517676
5  0.146429 -1.564102  0.089328 -0.968998
6 -0.125686 -0.230621 -0.089866  1.584494
7 -0.977752  0.273222  1.306980  0.470627
8 -0.300902 -0.760537  2.020481 -0.401926
9  0.815948 -1.614900  0.173578 -1.348261